<header>Poster generator</header>

<div class="content-container">
    <div class="controls-container">

        <p>Copy a link to an album or public playlist</p>
        <div class="search-bar-container">
            <input id="searh-bar" type="text" class="search-bar" [(ngModel)]="entityUrl" (keyup.enter)="fetchSpotifyEntity()"/>
            <button class="search-button" (click)="fetchSpotifyEntity()">
                <svg class="button-icon" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <circle cx="10.5" cy="10.5" r="6.5" stroke="white" stroke-width="3"/>
                  <line x1="15.5" y1="15.5" x2="22" y2="22" stroke="white" stroke-width="3"/>
                </svg>
            </button>
        </div>
        
        <p>Pick a theme</p>
        <div class="button-container">
            <input type="radio" name="theme" id="light" [(ngModel)]="darkTheme" [value]="false" (change)="generatePoster()" class="hidden-radio">
            <label for="light" class="rounded-button">Light</label>
            <input type="radio" name="theme" id="dark" [(ngModel)]="darkTheme" [value]="true" (change)="generatePoster()" class="hidden-radio">
            <label for="dark" class="rounded-button">Dark</label>
        </div>
        
        <p>Choose an orientation</p>
        <div class="button-container">
            <input type="radio" name="orientation" id="portrait" [(ngModel)]="landscape" [value]="false" (change)="generatePoster()" class="hidden-radio">
            <label for="portrait" class="rounded-button">Portrait</label>
            <input type="radio" name="orientation" id="landscape" [(ngModel)]="landscape" [value]="true" (change)="generatePoster()" class="hidden-radio">
            <label for="landscape" class="rounded-button">Landscape</label>
        </div>
        
        <p>Select an aspect ratio</p>
        <div class="button-container">
            <input type="radio" name="size" id="ratio1" [(ngModel)]="aspectRatio" [value]="1" (change)="generatePoster()" class="hidden-radio">    
            <label for="ratio1" class="rounded-button">3:2</label>
        
            <input type="radio" name="size" id="ratio2" [(ngModel)]="aspectRatio" [value]="2" (change)="generatePoster()" class="hidden-radio">
            <label for="ratio2" class="rounded-button">4:3</label>
        
            <input type="radio" name="size" id="ratio3" [(ngModel)]="aspectRatio" [value]="3" (change)="generatePoster()"class="hidden-radio">
            <label for="ratio3" class="rounded-button">16:9</label>
        </div>

        <br>
        <button class="download-button" (click)="downloadGraphic()">
            <svg class="button-icon" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2.5"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M12 3v12"></path><path d="M19 11l-7 7-7-7"></path><path d="M21 19H3"></path>
            </svg>
        </button>
        
    </div>
    
    <img id="poster" alt="Generated poster" width="auto" style="display:none">
    <canvas id="highResCanvas" style="display: none;"></canvas>
</div>

<footer>
    An app by&nbsp;
    <a href="https://github.com/RoryJNS" target="_blank">Rory Simpson</a>
    , powered by 
    <img class="footer-image" src="/spotify-logo.png" alt="Spotify logo" width="121px" height="33px">
</footer>